//Colors
@white: #fff;
@black: #444;
@violet: #44445e;

//Background image
body, html {
  background: url(../img/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
//Header with Search bar and Grid/List icons
.header {
  background: @violet;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  input[type=search] {
    padding: 10px 20px;
    font-size: 20px;
    color: @white;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid @white;
    border-radius: 5px;
    background: transparent;
    line-height: 20px;
    outline: none;
    width: 100%;
  }

  .glyphicon {
    color: @white;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

::-webkit-input-placeholder {
  color: @white;
  font-size: 20px;
  line-height: 30px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: @white;
  font-size: 20px;
}

//Main content - Grid and List view
.main-content {
  background: rgba(255, 255, 255, 0.6);
  min-height: 600px;

  //Grid view
  .team-box {
    padding: 30px;
    &:hover {
      background: white;
      cursor: pointer;
    }
    .team-logo-small {
      height: 100px;
      margin: 0 auto;
    }
  }
  //List view
  h3 {
    color: @violet;
    cursor: pointer;
  }

  //No data message
  .no-data-message {
    text-align: center;
    color: @violet;
    padding-top: 200px;

    button {
      width: 150px;
      height: 50px;
      margin-top: 20px;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      border: 1px solid @violet;
      outline: none;
      border-radius: 5px;
      background: @white;
      color: @violet;
      font-weight: 400;
    }
  }
}

//Single Team information - Modal
.modal-content {
  border-radius: 5px;
  color: @violet;
  //Team name
  h2 {
    margin: 0;
  }
  //Close Modal icon
  .glyphicon {
    font-size: 30px;
    margin: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  //Team logo
  .team-logo-big {
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  //Team information
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  //Team information - Titles
  h4 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
  }
}







