body,
html {
  background: url(../img/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.header {
  background: #44445e;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header input[type=search] {
  padding: 10px 20px;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: transparent;
  line-height: 20px;
  outline: none;
  width: 100%;
}
.header .glyphicon {
  color: #ffffff;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}
.header .glyphicon:hover {
  opacity: 0.5;
}
::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-size: 20px;
}
.main-content {
  background: rgba(255, 255, 255, 0.6);
  min-height: 600px;
}
.main-content .team-box {
  padding: 30px;
}
.main-content .team-box:hover {
  background: white;
  cursor: pointer;
}
.main-content .team-box .team-logo-small {
  height: 100px;
  margin: 0 auto;
}
.main-content h3 {
  color: #44445e;
  cursor: pointer;
}
.main-content .no-data-message {
  text-align: center;
  color: #44445e;
  padding-top: 200px;
}
.main-content .no-data-message button {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #44445e;
  outline: none;
  border-radius: 5px;
  background: #ffffff;
  color: #44445e;
  font-weight: 400;
}
.modal-content {
  border-radius: 5px;
  color: #44445e;
}
.modal-content h2 {
  margin: 0;
}
.modal-content .glyphicon {
  font-size: 30px;
  margin: 0;
  cursor: pointer;
}
.modal-content .glyphicon:hover {
  opacity: 0.5;
}
.modal-content .team-logo-big {
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.modal-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
.modal-content h4 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 5px;
}
