<!--Header with Search bar and Grid/List icons-->
<div class="container header">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-7">
            <input class="search" ng-model="search" type="search" placeholder="Search clubs..."/>
        </div>
        <div class="col-md-4 col-xs-5">
            <span class="glyphicon glyphicon-th" ng-click="view = 'gridView'"></span>
            <span class="glyphicon glyphicon-th-list" ng-click="view = 'listView'"></span>
        </div>
    </div>
</div>

<!--Main content - Grid and List view-->
<div class="container main-content">
    <div class="row">
        <!--Grid view-->
        <div class="grid-view" ng-show="view == 'gridView'">
            <div class="col-lg-3 col-sm-4 col-xs-6 team-box"
                 ng-repeat="team in searchedTeams = (teams | filter:search) track by $index"
                 ng-click="openTeam(team)">
                <img src="{{team.crestUrl}}" class="img-responsive team-logo-small">
            </div>
        </div>
        <!--List view-->
        <div class="list-view" ng-show="view == 'listView'">
            <div class="col-md-4 col-md-offset-4 col-xs-12">
                <div class="team-list"
                     ng-repeat="team in searchedTeams = (teams | filter:search) track by $index"
                     ng-click="openTeam(team)">
                    <h3># {{team.name}}</h3>
                </div>
            </div>
        </div>
        <!--No data message-->
        <div class="no-data-message" ng-if="searchedTeams.length == 0">
            <div class="col-xs-12">
                <h1>There is no club for searched data.</h1>
                <button ng-click="allClubs()">SEE ALL CLUBS</button>
            </div>
        </div>
    </div>
</div>

<!--Single Team information - Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="team-popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" ng-click="closeModal()"></span>
                <div class="text-center">
                    <h2>{{singleTeam.name}}</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{singleTeam.crestUrl}}" class="img-responsive team-logo-big">
                        </div>
                        <div class="col-md-6">
                            <h4>Short Name:</h4>

                            <h3>{{singleTeam.shortName}}</h3>
                            <h4>Code:</h4>

                            <h3> {{singleTeam.code}}</h3>
                            <h4>Market value:</h4>

                            <h3>{{singleTeam.squadMarketValue}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>